{:tasks
 {:requires ([babashka.fs :as fs])
  dev
  {:doc "Start the development process"
   :task (clojure "-M:shadow:dev -m shadow.cljs.devtools.cli --config-merge shadow-tests.edn watch app")}

  test:once
  {:doc "Run tests once (dev process needs to be started)"
   :task (shell "node lib/test.js")}

  test
  {:doc "Watch and run tests on file change (dev process needs to be started)"
   :task (shell "watchexec --no-vcs-ignore -w lib bb run test:once")}

  clean {:doc "Remove compiled build files"
         :task (fs/delete-tree "lib")}
  build {:doc "Build the production bundle"
         :depends [clean]
         :task (clojure "-M:shadow -m shadow.cljs.devtools.cli compile app")}
  publish {:depends [build]
           :task (shell "npm publish")}}}
