{:tasks
 {:requires ([babashka.fs :as fs])

  compile
  {:doc "Compile squint sources"
   :task (shell "npx squint compile")}

  test
  {:doc "Compile and run tests"
   :depends [compile]
   :task (shell "node --test lib-squint/longdown/lib_test.mjs")}

  test:watch
  {:doc "Watch and run tests on file change"
   :task (shell "watchexec -w src-squint -w test-squint bb run test")}

  clean {:doc "Remove compiled build files"
         :task (fs/delete-tree "lib-squint")}

  build {:doc "Build the production bundle"
         :depends [clean compile]}

  publish {:depends [build]
           :task (shell "npm publish")}}}
