{:builds
 {:app {:target :esm
        :runtime :node
        :output-dir "lib"
        :modules {:lib {:entries []
                        :exports {longform_to_outline longdown.lib/longform->outline
                                  html_to_outline longdown.lib/html->outline
                                  make_converter longdown.lib/make-converter
                                  ;; pre-composed converters with strip-highlights for JS interop
                                  longform_to_outline_stripped longdown.lib/longform->outline-stripped
                                  html_to_outline_stripped longdown.lib/html->outline-stripped
                                  stratify longdown.lib/stratify
                                  parse_markdown longdown.lib/parse-markdown
                                  parse_html longdown.lib/parse-html
                                  stringify_markdown longdown.lib/stringify-markdown
                                  strip_highlights longdown.lib/strip-highlights
                                  slurp longdown.lib/slurp
                                  spit longdown.lib/spit}}
                  :cli {:depends-on #{:lib}
                        :entries [longdown.cli]
                        :exports {main longdown.cli/-main}}}
        :js-options {:js-provider :import}}}}
